@charset "UTF-8";
/* css переменные */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --hero-title: #ffffff;
  --whitecolor: #ffffff;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --hero-gredient: rgba(47, 48, 58, 0.4);
  --what-we-do-gredient: rgba(47, 48, 58, 0.8);
  --filter-btn-bg-color: #f5f4fa;
  --icons-bg: rgba(255, 255, 255, 0.1);
  --ourteam-box-shadow: rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  --backdrop-modal-window: rgba(0, 0, 0, 0.2);
  --modal-bg-color: #ffffff;
  --modal-input-bordercolor: rgba(33, 33, 33, 0.2);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --input-text-color: rgba(33, 33, 33, 0.2);
  --border-color-portfolio: #eeeeee;
  --porfolio-card-hover: rgba(33, 150, 243, 0.9);
  --normal-font-size: 14px;
  --email-subscribe-shadow: rgba(0, 0, 0, 0.15);
  --email-subscribe-border-color: rgba(255, 255, 255, 0.3);
  --logo-color: #afb1b8;
  --header-border-color: #ececec;
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-boxshawow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition-cubic-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-label-mar-bottom: 4px;
  --modal-box-shadow-checkbox: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* сброс маркеров списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* сброс декораций cсылок */
a {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.current {
  color: var(--accent-color);
}

.sitecolor {
  color: var(--text-color);
}

.fontstyle-norm {
  font-style: normal;
}

.primary-textcolor {
  color: var(--primary-text-color);
}

/* class for centering all content for parent block */
.centered {
  text-align: center;
}

button {
  cursor: pointer;
}

/* body */
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: var(--normal-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  /* outline: 1px solid salmon; */
}

.page-header .list a:hover,
.page-header .list a:focus,
.footer address a:hover,
.footer address a:focus {
  color: var(--accent-color);
}

/* animations */
.page-header .list a,
.footer address a,
a.client-link,
a.social-link,
.our-team a.social-link,
.portfolio button,
.portfolio-items a {
  -webkit-transition: color var(--transition-cubic-primary), background-color var(--transition-cubic-primary), -webkit-box-shadow var(--transition-cubic-primary);
  transition: color var(--transition-cubic-primary), background-color var(--transition-cubic-primary), -webkit-box-shadow var(--transition-cubic-primary);
  transition: color var(--transition-cubic-primary), background-color var(--transition-cubic-primary), box-shadow var(--transition-cubic-primary);
  transition: color var(--transition-cubic-primary), background-color var(--transition-cubic-primary), box-shadow var(--transition-cubic-primary), -webkit-box-shadow var(--transition-cubic-primary);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
.bordered-header {
  border-bottom: 1px solid var(--header-border-color);
}

/* site-nav */
.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav-pages .item:not(:last-child) {
  margin-right: 50px;
}

.link.current {
  position: relative;
}

.link.current:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* site logo */
.site-nav-logo {
  display: block;
  margin-right: 91px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* всем у кого сверху по-соседству класс item */
.contacts .item + .item {
  margin-left: 50px;
}

/* site navigation */
.site-nav,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-logo {
  margin-right: 10px;
}

.mail,
.phone {
  fill: currentColor;
}

/* hero */
.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--second-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gredient)), to(var(--hero-gredient))), url(../images/studio/ourteam.jpg);
  background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url(../images/studio/ourteam.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  width: 696px;
  margin: 0 auto;
}

/* h1 hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--whitecolor);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* modal window */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-modal-window);
  opacity: 1;
  /* анимашка-открытия */
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  /* при этом классе нф элемент не действуют события (у элемента с этим свойством - события не работают) */
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--modal-bg-color);
  -webkit-box-shadow: var(--modal-boxshawow);
          box-shadow: var(--modal-boxshawow);
  border-radius: 4px;
}

/* close-button */
.modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--modal-input-bordercolor);
  border-radius: 50%;
  background-color: inherit;
}

.modal-button:hover {
  fill: var(--accent-color);
}

/* заголовок формы*/
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

/* инпуты */
form.inputs {
  width: 448px;
  height: 342px;
  /* outline: 1px solid aquamarine; */
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input,
.form-text {
  /* width: 448px; */
  /* height: 40px; */
  padding-left: 42px;
  padding-bottom: 11px;
  padding-top: 11px;
  margin-bottom: 10px;
  border: 1px solid var(--modal-input-bordercolor);
  border-radius: 4px;
  -webkit-transition: outline-color var(--transition-cubic-primary);
  transition: outline-color var(--transition-cubic-primary);
}

.form-text {
  padding-left: 12px;
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input.form-input:focus {
  outline-color: var(--accent-color);
}

.form-text:focus {
  outline-color: var(--accent-color);
}

.form-field-textarea {
  margin-bottom: 20px;
}

.form-label {
  font-size: 12px;
  line-height: 14.06px;
  margin-bottom: var(--modal-form-label-mar-bottom);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + var(--modal-form-label-mar-bottom)));
          transform: translateY(calc(-50% + var(--modal-form-label-mar-bottom)));
}

/* textarea */
.form-text {
  resize: none;
  margin-bottom: 0;
}

.form-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.wrapp-form {
  text-align: center;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}

.modal-license {
  color: var(--accent-color);
  text-decoration: underline;
}

/* обнуление стилей браузера для чекбокса */
.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.checkbox:checked + .agreement::before {
  background-image: url(./../images/modal/icon-checked.svg);
}

.checkbox:focus + .agreement::before {
  -webkit-box-shadow: var(--modal-box-shadow-checkbox);
          box-shadow: var(--modal-box-shadow-checkbox);
}

.checkbox:focus:checked + .agreement::before {
  -webkit-box-shadow: var(--modal-box-shadow-checkbox);
          box-shadow: var(--modal-box-shadow-checkbox);
}

.agreement::before {
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(./../images/modal/icon-check.svg);
  margin-right: 7px;
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

/* advantages */
.advantages {
  padding-bottom: 0;
}

.advantages .title {
  display: none;
}

.advantages .item {
  width: 270px;
}

.advantages .item + .item {
  margin-left: 30px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-title {
  margin-bottom: 10px;
}

.advantages-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--third-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* what we do section*/
.what-we-do .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-we-do .item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-title,
.our-team-title,
.clients-title {
  margin-bottom: 50px;
}

/* what-we-do-label */
.what-we-do-thumb {
  position: relative;
  z-index: 1;
}

.what-we-do-textwrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--what-we-do-gredient);
}

.what-we-do-label {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--whitecolor);
}

/* our team */
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--third-bg-color);
}

.our-team .item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-list .title {
  font-size: 16px;
  text-transform: unset;
  margin-bottom: 10px;
}

.our-team-list .item {
  background-color: var(--whitecolor);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-text-block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.our-team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

ul.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li.client-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
}

li.client-list-item:not(:last-child) {
  margin-right: 30px;
}

a.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--logo-color);
  fill: currentColor;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
}

a.client-link:hover, a.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--second-bg-color);
  color: var(--whitecolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a {
  color: var(--whitecolor);
}

.footer-address-list a {
  color: var(--address-color);
}

.footer .site-nav-logo,
.action-text,
.footer-form-label {
  margin-bottom: 20px;
}

.footer-mainaddress,
.footer-address-list li:first-child {
  margin-bottom: 9px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-social {
  width: 206px;
  margin-right: 93px;
}

.action-text,
.footer-form-label {
  font-size: var(--normal-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

ul.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li.social-item {
  width: 44px;
  height: 44px;
}

li.social-item:not(:last-child) {
  margin-right: 10px;
}

a.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--icons-bg);
  fill: currentColor;
}

a.social-link:hover, a.social-link:focus {
  background-color: var(--accent-color);
}

.our-team a.social-link {
  color: var(--logo-color);
}

.our-team a.social-link:hover, .our-team a.social-link:focus {
  color: var(--whitecolor);
}

.subscribe-form {
  /* outline: 1px solid green; */
  width: 570px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.subscribe-email {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 0.8;
  border: 1px solid var(--email-subscribe-border-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px var(--email-subscribe-shadow));
          filter: drop-shadow(0px 4px 4px var(--email-subscribe-shadow));
  border-radius: 4px;
  color: var(--address-color);
  background-color: var(--second-bg-color);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}

.subscribe-form .icon {
  fill: currentColor;
  position: absolute;
  right: 28px;
}

/* portfolio styles */
.portfolio button:hover, .portfolio button:focus {
  background-color: var(--accent-color);
  color: var(--whitecolor);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.portfolio h1 {
  display: none;
}

/* filter buttons */
.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-list button {
  color: var(--primary-text-color);
  background-color: var(--filter-btn-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: 0;
  border-radius: 4px;
  min-width: 73px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.filter-list li:first-child button {
  background-color: var(--accent-color);
  color: var(--whitecolor);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  /* 2nd layer hover*/
}

.portfolio-items .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-items .item {
  width: 370px;
  margin: 15px;
  border: 1px solid var(--border-color-portfolio);
}

.portfolio-items .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-items .item a:hover .portfolio-items .item a:focus {
  -webkit-box-shadow: var(--portfolio-card-shadow);
          box-shadow: var(--portfolio-card-shadow);
}

.portfolio-items .portfolio-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-items .portfolio-description {
  margin-top: 4px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-items .potfolio-items-thumb {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-items .overlay {
  /* border: 1px dotted saddlebrown; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--whitecolor);
  background-color: var(--porfolio-card-hover);
  opacity: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform var(--transition-cubic-primary);
  transition: -webkit-transform var(--transition-cubic-primary);
  transition: transform var(--transition-cubic-primary);
  transition: transform var(--transition-cubic-primary), -webkit-transform var(--transition-cubic-primary);
}

.portfolio-items .portfolio-items-link:hover .overlay,
.portfolio-items .portfolio-items-link:focus .overlay {
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
/*# sourceMappingURL=main.css.map */