@charset "UTF-8";
/* css переменные */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --hero-title: #ffffff;
  --whitecolor: #ffffff;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --hero-gredient: rgba(47, 48, 58, 0.4);
  --what-we-do-gredient: rgba(47, 48, 58, 0.8);
  --filter-btn-bg-color: #f5f4fa;
  --icons-bg: rgba(255, 255, 255, 0.1);
  --ourteam-box-shadow: rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  --backdrop-modal-window: rgba(0, 0, 0, 0.2);
  --modal-bg-color: #ffffff;
  --modal-input-bordercolor: rgba(33, 33, 33, 0.2);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --input-text-color: rgba(33, 33, 33, 0.2);
  --border-color-portfolio: #eeeeee;
  --porfolio-card-hover: rgba(33, 150, 243, 0.9);
  --normal-font-size: 14px;
  --email-subscribe-shadow: rgba(0, 0, 0, 0.15);
  --email-subscribe-border-color: rgba(255, 255, 255, 0.3);
  --logo-color: #afb1b8;
  --header-border-color: #ececec;
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-boxshawow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition-cubic-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-label-mar-bottom: 4px;
  --modal-box-shadow-checkbox: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* сброс маркеров списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* сброс декораций cсылок */
a {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.current {
  color: var(--accent-color);
}

.sitecolor {
  color: var(--text-color);
}

.fontstyle-norm {
  font-style: normal;
}

.primary-textcolor {
  color: var(--primary-text-color);
}

/* class for centering all content for parent block */
.centered {
  text-align: center;
}

button {
  cursor: pointer;
}

/* body */
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: var(--normal-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  /* outline: 1px solid salmon; */
}

.page-header .list a:hover,
.page-header .list a:focus,
.burger-btn:hover,
.close-btn-mobile:hover,
.footer address a:hover,
.footer address a:focus {
  color: var(--accent-color);
}

/* animations */
.page-header .list a,
.footer address a,
a.client-link,
a.social-link,
.our-team a.social-link,
.portfolio button,
.portfolio-items a {
  transition: color var(--transition-cubic-primary), background-color var(--transition-cubic-primary), box-shadow var(--transition-cubic-primary);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-pages,
  .contacts {
    display: none;
  }
  .nav-wrapper {
    padding: 16px 0;
    height: 60px;
  }
  .site-nav-logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }
  .burger-btn,
  .close-btn-mobile {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .close-btn-mobile {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    min-height: 796px;
    padding: 48px 40px;
    background-color: var(--whitecolor);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 100%;
    visibility: visible;
    pointer-events: visible;
  }
  .mobile-menu .mobile-menu-nav,
  .mobile-menu .contacts-moblie,
  .mobile-menu .mobile-social {
    padding: 0;
    font-weight: 500;
  }
  .mobile-menu .mobile-menu-nav {
    font-size: 40px;
    line-height: 47px;
  }
  .mobile-menu .mobile-menu-nav .mobile-menu-item {
    padding-bottom: 32px;
  }
  .mobile-menu .mobile-menu-nav .mobile-menu-item:last-child {
    margin-bottom: 302px;
  }
  .mobile-menu .contacts-moblie {
    font-size: 34px;
    line-height: 40px;
  }
  .mobile-menu .contacts-moblie li {
    padding-bottom: 32px;
  }
  .mobile-menu .contacts-moblie li:not(:first-child) {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 64px;
  }
  .mobile-menu .contacts-moblie li:not(:first-child) a {
    color: var(--text-color);
  }
  .mobile-menu .mobile-social {
    font-size: 18px;
    line-height: 22px;
    display: flex;
  }
  .mobile-menu .mobile-social .mobile-social-item:not(:last-child) {
    margin-right: 20px;
  }
  .mail,
  .phone,
  .burger-icon,
  .close-icon-mobile {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu {
    display: none;
  }
  .site-nav,
  .site-nav-pages {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav-logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-right: 88px;
  }
  .site-nav-pages .item {
    font-weight: 500;
  }
  .site-nav-pages .item:not(:last-child) {
    margin-right: 30px;
  }
  .site-nav-pages .item .link {
    padding: 26px 0;
  }
  .contacts .item {
    font-weight: 500;
  }
  .contacts .item .link {
    display: flex;
    align-items: center;
  }
  .contacts .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-logo {
    margin-right: 10px;
  }
  .link.current {
    position: relative;
  }
  .link.current:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .mail,
  .phone {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
  .site-nav-logo {
    font-size: 26px;
    line-height: 31px;
    margin-right: 93px;
  }
  .site-nav-pages .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav-pages .item .link {
    padding: 32px 0;
  }
  .contacts .item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

/* hero */
.hero {
  background-color: var(--second-bg-color);
  background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url("./../../images/studio/hero/mobile/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-content {
  width: 360px;
  margin: 0 auto;
}

/* h1 hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-title);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--whitecolor);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url("./../../images/studio/hero/mobile/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url("./../../images/studio/hero/tablet/hero.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url("./../../images/studio/hero/tablet/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url("./../../images/studio/hero/desktop/hero.jpg");
  }
  .hero-content {
    width: 696px;
    margin: 0 auto;
  }
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--hero-title);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, var(--hero-gredient), var(--hero-gredient)), url("./../../images/studio/hero/desktop/hero@2x.jpg");
  }
}

/* modal window */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-modal-window);
  opacity: 1;
  /* анимашка-открытия */
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  /* при этом классе нф элемент не действуют события (у элемента с этим свойством - события не работают) */
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--modal-bg-color);
  box-shadow: var(--modal-boxshawow);
  border-radius: 4px;
}

/* close-button */
.modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--modal-input-bordercolor);
  border-radius: 50%;
  background-color: inherit;
}

.modal-button:hover {
  fill: var(--accent-color);
}

/* заголовок формы*/
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

/* инпуты */
form.inputs {
  width: 448px;
  height: 342px;
  /* outline: 1px solid aquamarine; */
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-input,
.form-text {
  /* width: 448px; */
  /* height: 40px; */
  padding-left: 42px;
  padding-bottom: 11px;
  padding-top: 11px;
  margin-bottom: 10px;
  border: 1px solid var(--modal-input-bordercolor);
  border-radius: 4px;
  transition: outline-color var(--transition-cubic-primary);
}

.form-text {
  padding-left: 12px;
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input.form-input:focus {
  outline-color: var(--accent-color);
}

.form-text:focus {
  outline-color: var(--accent-color);
}

.form-field-textarea {
  margin-bottom: 20px;
}

.form-label {
  font-size: 12px;
  line-height: 14.06px;
  margin-bottom: var(--modal-form-label-mar-bottom);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(calc(-50% + var(--modal-form-label-mar-bottom)));
}

/* textarea */
.form-text {
  resize: none;
  margin-bottom: 0;
}

.form-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.wrapp-form {
  text-align: center;
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}

.modal-license {
  color: var(--accent-color);
  text-decoration: underline;
}

/* обнуление стилей браузера для чекбокса */
.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.checkbox:checked + .agreement::before {
  background-image: url(./../images/modal/icon-checked.svg);
}

.checkbox:focus + .agreement::before {
  box-shadow: var(--modal-box-shadow-checkbox);
}

.checkbox:focus:checked + .agreement::before {
  box-shadow: var(--modal-box-shadow-checkbox);
}

.agreement::before {
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(./../images/modal/icon-check.svg);
  margin-right: 7px;
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

/* advantages */
.advantages {
  padding-bottom: 0;
}

.advantages .title {
  display: none;
}

.advantages .item {
  width: 270px;
}

.advantages .item + .item {
  margin-left: 30px;
}

.advantages-list {
  display: flex;
}

.advantages-title {
  margin-bottom: 10px;
}

.advantages-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--third-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* what we do section*/
.what-we-do .list {
  display: flex;
  justify-content: center;
}

.what-we-do .item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-title,
.our-team-title,
.clients-title {
  margin-bottom: 50px;
}

/* what-we-do-label */
.what-we-do-thumb {
  position: relative;
  z-index: 1;
}

.what-we-do-textwrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--what-we-do-gredient);
}

.what-we-do-label {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--whitecolor);
}

/* our team */
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--third-bg-color);
}

.our-team .item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list {
  display: flex;
}

.our-team-list .title {
  font-size: 16px;
  text-transform: unset;
  margin-bottom: 10px;
}

.our-team-list .item {
  background-color: var(--whitecolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-text-block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.our-team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

ul.client-list {
  display: flex;
}

li.client-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
}

li.client-list-item:not(:last-child) {
  margin-right: 30px;
}

a.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--logo-color);
  fill: currentColor;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
}

a.client-link:hover, a.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--second-bg-color);
  color: var(--whitecolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a {
  color: var(--whitecolor);
}

.footer-address-list a {
  color: var(--address-color);
}

.footer .site-nav-logo,
.action-text,
.footer-form-label {
  margin-bottom: 20px;
}

.footer-mainaddress,
.footer-address-list li:first-child {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-social {
  width: 206px;
  margin-right: 93px;
}

.action-text,
.footer-form-label {
  font-size: var(--normal-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

ul.social-list {
  display: flex;
}

li.social-item {
  width: 44px;
  height: 44px;
}

li.social-item:not(:last-child) {
  margin-right: 10px;
}

a.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--icons-bg);
  fill: currentColor;
}

a.social-link:hover, a.social-link:focus {
  background-color: var(--accent-color);
}

.our-team a.social-link {
  color: var(--logo-color);
}

.our-team a.social-link:hover, .our-team a.social-link:focus {
  color: var(--whitecolor);
}

.subscribe-form {
  /* outline: 1px solid green; */
  width: 570px;
}

.footer-form {
  display: flex;
  position: relative;
}

.subscribe-email {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 0.8;
  border: 1px solid var(--email-subscribe-border-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px var(--email-subscribe-shadow));
  border-radius: 4px;
  color: var(--address-color);
  background-color: var(--second-bg-color);
}

.subscribe-button {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}

.subscribe-form .icon {
  fill: currentColor;
  position: absolute;
  right: 28px;
}

/* portfolio styles */
.portfolio button:hover, .portfolio button:focus {
  background-color: var(--accent-color);
  color: var(--whitecolor);
  box-shadow: var(--button-shadow);
}

.portfolio h1 {
  display: none;
}

/* filter buttons */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-list button {
  color: var(--primary-text-color);
  background-color: var(--filter-btn-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: 0;
  border-radius: 4px;
  min-width: 73px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.filter-list li:first-child button {
  background-color: var(--accent-color);
  color: var(--whitecolor);
  box-shadow: var(--button-shadow);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* 2nd layer hover*/
}

.portfolio-items .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-items .item {
  width: 370px;
  margin: 15px;
  border: 1px solid var(--border-color-portfolio);
}

.portfolio-items .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-items .item a:hover .portfolio-items .item a:focus {
  box-shadow: var(--portfolio-card-shadow);
}

.portfolio-items .portfolio-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-items .portfolio-description {
  margin-top: 4px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-items .potfolio-items-thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-items .overlay {
  /* border: 1px dotted saddlebrown; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--whitecolor);
  background-color: var(--porfolio-card-hover);
  opacity: 0;
  transform: translatey(100%);
  transition: transform var(--transition-cubic-primary);
}

.portfolio-items .portfolio-items-link:hover .overlay,
.portfolio-items .portfolio-items-link:focus .overlay {
  opacity: 1;
  transform: translatey(0);
}
/*# sourceMappingURL=main.css.map */