.nav-wrapper{
    padding: 16px;
}

.site-nav-pages, .contacts{
    display: none;
}

.site-nav-logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.burger-btn,
.close-btn-mobile {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
}

.close-btn-mobile{
    position: absolute;
    top: 10px;
    right: 15px;
}

//  мобильное меню
.mobile-menu{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    // height: 100vh;
    min-height: 796px;

    padding: 48px 40px;
    background-color: var(--whitecolor);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    &.is-open{
       opacity: 100%;
       visibility: visible;
       pointer-events: visible;
    }

    .mobile-menu-nav,
    .contacts-moblie,
    .mobile-social
    {
        padding: 0;
        font-weight: 500;
    }

    .mobile-menu-nav{
        font-size: 40px;
        line-height: 47px;

        .mobile-menu-item {
            padding-bottom: 32px;

            &:last-child {
                margin-bottom: 302px;
            }
        }
    }

    .contacts-moblie{
        font-size: 34px;
        line-height: 40px;
        li{
            padding-bottom: 32px;
        }

        & li:not(:first-child){
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            padding-bottom: 64px;
            a{
                color: var(--text-color);
            }
        }
    }

    .mobile-social{
        font-size: 18px;
        line-height: 22px;
        display: flex;
        .mobile-social-item:not(:last-child){
            margin-right:20px;
        }
    }
}




// /* header */
// .bordered-header {
//     border-bottom: 1px solid var(--header-border-color);
// }

// /* site-nav */
// .nav-wrapper {
//     display: flex;
// }

// .site-nav {
//     display: flex;
//     align-items: center;

//     .link {
//         display: flex;
//         align-items: center;
//         padding-top: 32px;
//         padding-bottom: 32px;
//     }
// }

// .site-nav-pages {
//     display: flex;
// }

// .site-nav-pages {
//     .item:not(:last-child) {
//         margin-right: 50px;
//     }
// }



// .link.current {
//     position: relative;

//     &:after {
//         position: absolute;
//         bottom: 0;
//         left: 0;

//         content: '';
//         display: block;
//         width: 100%;
//         height: 4px;

//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
// }

// /* site logo */
// .site-nav-logo {
//     display: block;
//     margin-right: 91px;

//     font-family: Raleway, sans-serif;
//     font-weight: bold;
//     font-size: 26px;
//     line-height: 1.19;
// }

// .contacts {
//     display: flex;
//     margin-left: auto;
//     align-items: center;
// }

// /* всем у кого сверху по-соседству класс item */
// .contacts {
//     .item+.item {
//         margin-left: 50px;
//     }
// }

// /* site navigation */
// .site-nav,
// .contacts {
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
// }

// .contacts-logo {
//     margin-right: 10px;
// }

// .mail,
// .phone {
//     fill: currentColor;
// }