// MOBILE 480px
@media screen and (max-width: 767px) {

    .site-nav-pages,
    .contacts {
        display: none;
    }

    .nav-wrapper {
        padding: 16px 0;
        height: 60px;
    }

    .site-nav-logo {
        font-family: Raleway;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    .burger-btn,
    .close-btn-mobile {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .close-btn-mobile {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    //  мобильное меню
    .mobile-menu {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 480px;
        height: 100vh;
        // min-height: 1000px;

        padding: 48px 40px;
        background-color: var(--whitecolor);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &.is-open {
            opacity: 100%;
            visibility: visible;
            pointer-events: visible;
            overflow: scroll;
        }

     
        .mobile-menu-nav,
        .contacts-moblie,
        .mobile-social {
            padding: 0;
            font-weight: 500;
        }

        .mobile-menu-nav {
            font-size: 40px;
            line-height: 47px;

            .mobile-menu-item {
                padding-bottom: 32px;

                &:last-child {
                    margin-bottom: 302px;
                }
            }
        }

        .contacts-moblie {
            font-size: 34px;
            line-height: 40px;

            li {
                padding-bottom: 32px;
            }

            & li:not(:first-child) {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                padding-bottom: 64px;

                a {
                    color: var(--text-color);
                }
            }
        }

        .mobile-social {
            font-size: 18px;
            line-height: 22px;
            display: flex;

            .mobile-social-item:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

      .mail,
      .phone,
      .burger-icon,
      .close-icon-mobile {
          fill: currentColor;
      }


}

// TABLET
@media screen and (min-width: 768px) {

    .burger-btn,
    .mobile-menu {
        display: none;
    }

    .site-nav,
    .site-nav-pages {
        display: flex;
        align-items: center;
    }

    .site-nav {
        display: flex;
        align-items: center;
    }


    .site-nav-logo {
        font-family: Raleway, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        margin-right: 88px;
    }

    .site-nav-pages .item {
        font-weight: 500;

        &:not(:last-child) {
            margin-right: 30px;
        }

        & .link {
            padding: 26px 0;
        }
    }


    .contacts .item {
        font-weight: 500;
        .link {
            display: flex;
            align-items: center;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .contacts-logo {
        margin-right: 10px;
    }

    .link.current {
        position: relative;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;

            content: '';
            display: block;
            width: 100%;
            height: 4px;

            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }

    .mail,
    .phone {
        fill: currentColor;
    }

}

// DESKTOP 1200px
@media screen and (min-width: 1200px) {
    .contacts {
        display: flex;
        align-items: center;
    }

    .site-nav-logo {
        font-size: 26px;
        line-height: 31px;

        margin-right: 93px;
    }

    .site-nav-pages .item {
        &:not(:last-child) {
            margin-right: 50px;
        }

        & .link {
            padding: 32px 0;
        }
    }

    .contacts .item:first-child {
        margin-right: 30px;
        margin-bottom: 0;
    }


}
