/* hero */
.hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--second-bg-color);
    background-image: linear-gradient(to right,
            var(--hero-gredient),
            var(--hero-gredient)),
        url(../images/studio/ourteam.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    width: 696px;
    margin: 0 auto;
}

/* h1 hero */
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--hero-title);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    min-width: 200px;
    border: 0;
    border-radius: 4px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    color: var(--whitecolor);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}