/* our team */

.our-team {
    background-color: var(--third-bg-color);
    padding-top: 60px;
}

.our-team-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.our-team-pic img {
    margin-bottom: 30px;
}

.ourteam-text-block {
    .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        text-transform: unset;
    }

    .our-team-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
    }
}

.social-list {
    justify-content: center;
}

.our-team-list {
    .item {
        padding-bottom: 24px;

        background-color: var(--whitecolor);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;


        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }
}


// =====MOBILE=====
@media screen and (max-width: 767px) {
    .our-team {
        padding-bottom: 60px;
    }
}

// =====TABLET=====
@media screen and (min-width: 768px) {
    .our-team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

// =====DESKTOP=====
@media screen and (min-width: 1200px) {
    .our-team {
        padding-top: 94px;
        padding-bottom: 94px;

        .item {
            &:not(:last-child) {
                margin-right: 30px;
            }

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 0;
            }
        }
    }

    .our-team-list {
        display: flex;
        flex-wrap: nowrap;

    }

    .ourteam-text-block {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .our-team-title{
        font-size: 36px;
        line-height: 42px
    }

}