/* portfolio styles */

// =====MOBILE=====
@media screen and (max-width: 767px) {}

// =====TABLET=====
@media screen and (min-width: 768px) {}

// =====DESKTOP=====
@media screen and (min-width: 1200px) {}



.portfolio {
    button {

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--whitecolor);
            box-shadow: var(--button-shadow);
        }
    }
}

.portfolio {
    h1 {
        display: none;
    }
}

/* filter buttons */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list {
    .item {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}


.filter-list {
    button {
        color: var(--primary-text-color);
        background-color: var(--filter-btn-bg-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;

        border: 0;
        border-radius: 4px;
        min-width: 73px;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    li {
        &:first-child {
            button {
                background-color: var(--accent-color);
                color: var(--whitecolor);
                box-shadow: var(--button-shadow);
            }
        }
    }
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
    }

    .item {
        width: 370px;
        margin: 15px;

        border: 1px solid var(--border-color-portfolio);

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }

        a {
            &:hover &:focus {
                box-shadow: var(--portfolio-card-shadow);
            }
        }
    }

    .portfolio-text-block {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .portfolio-description {
        margin-top: 4px;
        color: var(--text-color);
        font-size: 16px;
        line-height: 1.88;
    }

    /* 2nd layer hover*/
    .potfolio-items-thumb {
        position: relative;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        /* border: 1px dotted saddlebrown; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 63px 24px;

        font-size: 18px;
        font-weight: 400;
        line-height: 1.56;
        color: var(--whitecolor);
        background-color: var(--porfolio-card-hover);

        opacity: 0;
        transform: translatey(100%);
        transition: transform var(--transition-cubic-primary);
    }

    .portfolio-items-link {
        &:hover .overlay,
        &:focus .overlay {
            opacity: 1;
            transform: translatey(0);
        }
    }    
}