.container {
    width: 100%;
    margin: 0 auto;
    // outline: 1px solid red;

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// mobile 480px
@media screen and (min-width:480px) {
    .container {
        width: 450px;
      }
}

// mobile 480px
@media screen and (min-width:768px) {
    .container {
        width: 738px;
    }
}
// desktop 1200px
@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
        padding: 0 15px;
        }
}